<%= render 'layouts/navigation', title: 'Movies' %>
<%= render 'layouts/content_title', title: 'Movies' %>

<%  if !logged_in?  %>
<div class ="jumbotron">
  <h1>Your Favorite Movies. Reviewed.</h1>
  <p>"Who would have thought it, Flask!" cried Stubb; "if I had but one leg you would not catch me in a boat, unless maybe to stop the plug-hole with my timber toe. Oh! he's a wonderful old man!"</p>
  <p><%= link_to "Sign Up & Write a Review", new_user_path, class: "btn btn-primary btn-lg"  %></p>
</div>
<%  end  %>

<div class="row">
  <% @movies.each do |movie| %>
  <div class="col-xs-6 col-md-3 ">


    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="thumbnail">
          <%= link_to (image_tag movie.image.url(:medium), class: "image"), movie  %>
        </div>
       <div class="star-rating" data-score= <%= @avg_review %>></div>
      </div>
      <div class="panel-body">
        <%= movie.title %><br>
        <%= movie.description.truncate(50, separator: /\s/, omission: '...(read more)') %><br>
        <%= movie.movie_length %> 
        <%= movie.director %> 
        <%= movie.rating %><br>
        <%= link_to 'Show', movie %>
        <%  if logged_in?  %>
        <%= link_to 'Edit', edit_movie_path(movie) %>
        <%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%  end  %>
      </div>
    </div>
  </div>
  <%  end  %>
</div>


<%= link_to 'New Movie', new_movie_path %>

<script>
  $("div.star-rating").raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
