<%= render 'layouts/navigation', title: 'Movies' %>
<%= render 'layouts/content_title', title: 'Movies' %>

<div class= "masonry js-masonry" id="masonry-container">
      <% @movies.each do |movie| %>
        <div class="item movie">
          <div class="image">
            <%= image_tag movie.image.url(:medium)  %>
          </div><!--image-->
          <div class="content">
            <%= movie.title %><br>
            <%= movie.description %><br>
            <%= movie.movie_length %><br>
            <%= movie.director %><br>
            <%= movie.rating %><br>
            <%= link_to 'Show', movie %>
            <%  if logged_in?  %>
              <%= link_to 'Edit', edit_movie_path(movie) %>
              <%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%  end  %>
          </div><!--content-->
        </div>
        <%  end  %>
</div>


<%= link_to 'New Movie', new_movie_path %>
