<%= render 'layouts/navigation', title: 'Movies' %>

<%  if !logged_in?  %>
<div class ="jumbotron">
  
  <h1 class="text-center">Your Favorite Movies. Reviewed.</h1>

  <p class="text-center"><%= link_to "Sign Up & Write a Review", new_user_path, class: "btn btn-primary btn-lg"  %></p>
</div>


<%  end  %>

  <ul class="mr-grid">
  <% @movies.each do |movie| %>
       <li>
         <%= link_to movie_path(movie) do %>
           <%=image_tag movie.image.url(:medium), class: "image" %>
           <div class="mr-info">
           <div class="movie-text">
        <h3><%= movie.title.truncate(30, separator: /\s/, omission: '...') %></h3>
        <p><%= movie.description.truncate(50, separator: /\s/, omission: '...(more)') %><br>
        <%= movie.movie_length %> | 
        <%= movie.director %> | 
        <%= movie.rating %><br>
        <%  if logged_in? && movie.user_id == current_user.id %>
        <%= link_to 'Edit', edit_movie_path(movie), class: "movie-links" %>
        <%= link_to 'Delete', movie, method: :delete, data: { confirm: 'Are you sure?' }, class: "movie-links" %>
      <%  end  %>
    </p>
        
        
        </div>
    </div><!--mr-info-->
    <%  end  %>
    </li>
  <%  end  %>

</ul><!--mr-grid-->



<script>
  $("div.star-rating").raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
