<%= render 'layouts/navigation', title: 'Movies' %>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4 text-center">
        <%= image_tag @movie.image.url(:medium), class: "image img-responsive"  %>
        <div class="table-responsive">
          <div class="table text-left">
              <div class="tr">
                <div class="td"><strong>Title:</strong></div>
                <div class="td"><%= @movie.title  %></div>
              </div>
              <div class="td"><strong>Rating:</strong></div>
              <div class="td"><%= @movie.rating %></div>
              <div class="tr">
                <div class="td"><strong>Description:</strong></div>
                <div class="td"><%= @movie.description %></div>
              </div>
              <div class="tr">
                <div class="td"><strong>Movie length:</strong></div>
                <div class="td"><%= @movie.movie_length %></div>
              </div>
              <div class="tr">
                <div class="td"><strong>Director:</strong></div>
                <div class="td"><%= @movie.director %></div>
              </div>
          </div>
        </div>

      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1 class="review-title inline"><%= @movie.title  %></h1>
        <div class="star-rating inline" data-score= <%= @avg_review %>>
         <%= @reviews.length  %>
         <% if @reviews.length == 1 %>
         review
         <%  else  %>
         reviews
         <%  end  %>
       </div>
       <p class = "description"><%= @movie.description  %></p>

       <%  if @reviews.blank?  %>
       <p>There are no reviews yet. Would you like to <%= link_to new_movie_review_path(@movie) do %> add the first? <%  end  %></p>
       <%  else  %>
       <%  @reviews.each do |review|  %>
       <div class="reviews">
        <hr>
        <div class = "star-rating pull-left clearfix" data-score = <%= review.rating %> ></div>

        <p ><%= review.comment %> -- <%= review.user.username %></p>


      </div>
      <%  end  %>
      <%  end  %>

      <%  if logged_in?  %>
      <div class="add-review">
      <%= link_to 'Write a Review', new_movie_review_path(@movie)  %>
      <%  end  %>
      <%  if logged_in? && current_user.id == @movie.user_id  %>
      <%= link_to 'Edit', edit_movie_path(@movie), class: "button" %>
      <%  end  %> |
      <%= link_to 'Back', movies_path, class: "button" %>
     </div>
    </div>
  </div>
</div>
</div>


<p>
  <strong>Added By:</strong>
  <%= @movie.user.username %>
</p>


<script>
$("div.star-rating").raty({
  path: '/assets/',
  readOnly: true,
  score: function() {
    return $(this).attr('data-score');
  }
});
</script>
