

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
      <%= link_to 'Reviewerin', root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%  if logged_in?  %>
      <p class="navbar-text">Welcome 
        <%= link_to edit_user_path(current_user) do %>
        <%= current_user.username  %>
        <%  end  %>
      </p>
      <%  end  %>
      <ul class="nav navbar-nav">
        
        <%  if logged_in?  %>
        
        <li><%= link_to "Add a Movie", new_movie_path, class: "btn navbar-btn text-uppercase"  %></li>
        <li><%= link_to "Sign Out", logout_path, class: "btn navbar-btn text-uppercase"  %></li>
        <%  else  %>
        <li><%= link_to "Sign Up", register_path, class: "btn navbar-btn text-uppercase"  %></li>
        <li><%= link_to "Sign In", login_path, class: "btn navbar-btn text-uppercase"  %></li>
        <%  end  %>
      </ul>
      <%= form_tag search_movies_path, method: :get, class: 'navbar-form' , role: 'search' do %>
        <p><%= text_field_tag :search, params['search'], class: 'form-control'  %>
          <%= submit_tag :search, name: nil, class: 'btn btn-default text-uppercase'  %></p>
          <%  end  %>
    </li>
  </ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>